body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.share-button {
  width: 50px;
  height: 50px;
  
  background-color: hsl(0, 0%, 100%);
  background-image: none;
  
  background-repeat: repeat no-repeat;
 
  
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  

  outline: none;

  text-decoration: none;
  transition: all 235ms ease-in-out;
 
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.share-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.share-button:focus{
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.facebook-svg {
  color: #1877F2; /* Facebook Blue */
  padding: 5px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.facebook-svg:hover {
  color: #0d6efd; /* Lighter blue on hover */
}

.email-svg {
  color: #007bff; /* Blue, but you can change to fit your app's theme */
  padding: 5px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.email-svg:hover {
  color: #0056b3; /* Darker blue on hover */
}

.twitter-svg {
  color: #1DA1F2; /* Twitter Blue */
  padding: 5px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.twitter-svg:hover {
  color: #0d95e8; /* Lighter blue on hover */
}

.instagram-svg {
  color: #E4405F; /* Instagram Pinkish Red */
  padding: 5px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.instagram-svg:hover {
  color: #C13584; /* Darker shade when hovered */
}


